In [24]:
import pandas as pd
data = {
    'nim': [111,112,113],
    'nama': ['Andi', 'Budi', 'Caca'],
    'alamat': ['Jakarta', 'Bandung', 'Surabaya']
}

df = pd.DataFrame(data)
print(df.head())

   nim  nama    alamat
0  111  Andi   Jakarta
1  112  Budi   Bandung
2  113  Caca  Surabaya

In [9]:
import pandas as pd
df = pd.read_csv('titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name        Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris       male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...     female  38.0      1
2                             Heikkinen, Miss. Laina     female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)     female  35.0      1
4                           Allen, Mr. William Henry  Laki-Laki  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
!ls

sample_data  titanic.csv

In [9]:
import pandas as pd
df = pd.read_csv('titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [31]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [12]:
df.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
892,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
893,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q
894,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [11]:
df.shape

(895, 12)

In [15]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  895 non-null    int64
 1   Survived     895 non-null    int64
 2   Pclass       895 non-null    int64
 3   Name         895 non-null    object
 4   Sex          895 non-null    object
 5   Age          720 non-null    float64
 6   SibSp        895 non-null    int64
 7   Parch        895 non-null    int64
 8   Ticket       895 non-null    object
 9   Fare         895 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     893 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 84.0+ KB

In [18]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,895.000000,895.000000,895.000000,720.000000,895.000000,895.000000,895.00000
mean,446.074860,0.384358,2.307263,30.046069,0.520670,0.379888,32.76897
std,257.476855,0.486715,0.837130,15.852666,1.100827,0.804655,52.18639
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,223.500000,0.000000,2.000000,20.875000,0.000000,0.000000,7.89580
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,891.000000,1.000000,3.000000,160.000000,8.000000,6.000000,512.32920

In [34]:
df[['Name', 'Age', 'sex']]

KeyError: "['Nama', 'sex'] not in index"

In [26]:
df[df['Age'] > 30]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,Southampton
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
884,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
888,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
893,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
894,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
df[(df['Sex'] == "male") & (df['Survived']) == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,145.0,0,0,244373,13.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...,...
841,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
842,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
860,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
872,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
892,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [11]:
df[(df['Sex'] == "male") & (df['Survived']) == 1][['Name', 'Sex', 'Pclass']]

                                Name   Sex  Pclass
17      Williams, Mr. Charles Eugene  male       2
21             Beesley, Mr. Lawrence  male       2
23      Sloper, Mr. William Thompson  male       1
36                  Mamee, Mr. Hanna  male       3
55                 Woolner, Mr. Hugh  male       1
..                               ...   ...     ...
841                  Chip, Mr. Chang  male       3
842             Marechal, Mr. Pierre  male       1
860           Daly, Mr. Peter Denis   male       1
872  Johnson, Master. Harold Theodor  male       3
892            Behr, Mr. Karl Howell  male       1

[109 rows x 3 columns]

In [ ]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [10]:
df.iloc[10]

PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                        4.0
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object